	<div class="ui-helper-clearfix">
		<div class="right">
			<div id="trailDetailsEdit">Editar detalhes</div>
		</div>
		<script type="text/javascript">
			$("#trailDetailsEdit").button().click(function(){
				$("#editTrailDetailsDialog").dialog("open");
			});
		</script>		
	</div>
	{% if trailDetails %}
	<fieldset>
		<legend>Informação adicional</legend>
		
		<table>
			<tr>
				<td class="itemLabel">Recomendações</td>
				<td>
					<div id="details_recomendations">{{ trailDetails.recommendations }}</div>
				</td>
			</tr>
			<tr>
				<td class="itemLabel">Direcções</td>
				<td>
					<div id="details_directions">{{ trailDetails.directions }}</div>
				</td>
			</tr>
			<tr>
				<td class="itemLabel">Época do ano recomendada</td>
				<td>
					<div id="details_recommendedSeason">{{ trailDetails.recommendedSeason }}</div>
				</td>
			</tr>
			<tr>
				<td class="itemLabel">Links</td>
				<td>
					<ul id="details_links">
						{% for link in trailDetails.links %}
							<li>{{ link }}</li>
						{% endfor %}
					</ul>
				</td>
			</tr>						
		</table>
	</fieldset>
	{% else %}
		<div>
			<p>Este trilho ainda não tem informação adicional.</p>
		</div>
	{% endif %}
	
	{% include "default/_trailDetails/editTrailDetailsDialog.html" %}