{% extends 'default/mapBase.html' %}

{% block extraHeaders %}
<script type="text/javascript">
	$(function() {
		$("#hottestTrails").tabs();
		initialize();
	});
</script>
{% endblock %}

{% block contents %}
	<!-- Main entry point of the application -->

		<div id="hottestTrails">
			<ul>
				<li><a href="#trails">Trilhos</a>
				</li>
				<li><a href="#search">Presquisa</a>
				</li>
				<li><a href="#admin">Administração</a>
				</li>
			</ul>

			<div id="trails">
				<div id="trailsList">
					{% include "default/_trails/trailTable.html" %}
				</div>
			</div>

			<div id="search">
				{% include "default/_trails/search.html" %}
			</div>

			<div id="admin">
				{% include "default/_trails/admin.html" %}
			</div>
		</div>		
	
	<!-- DIALOGS -->
	<!-- title, credentialNumber, difficulty, condition, region, nearestCity, tags -->
	{% include "default/_trails/newTrailDialog.html" %}
{% endblock %}
