{% extends 'default/base.html' %}

{% block contents %}

{% include "default/_elems/logo.html" %}

<div class="left contentText">
<p class="bold">Adesão ao Projeto</p>

<p>A iniciativa poderá partir dos caminheiros/companheiros que encontrem no 

pedestrianismo a sua paixão e a necessidade de irem mais além. Este projeto também 

se enquadra na estratégia das regiões ou núcleos que queiram desenvolver um novo 

recurso pedagógico nos seus centros escutistas.</p>

<p>Para formalizar a adesão, será necessário enviar ao Departamento Nacional de 

Ambiente uma proposta para <span class="bold">Projeto Local de Intervenção</span> onde devem colocar a 

seguinte informação:</p>

<ul>
<li>Identificação dos elementos que constituem a equipa e o dirigente responsável;</li>

<li>Localização da proposta;</li>

<li>Breve justificação às questões:<br/>

Porque é necessário o trilho? Quem vai utilizar? Que tipo de experiências propomos?</li>

<li>Contactos já realizados com outras estruturas do CNE (opcional);</li>

<li>Pedidos de autorização prévios (opcional);</li>
</ul>


<p>
O envio da proposta ou qualquer pedido de esclarecimento deve ser feito para o 

correio eletrónico:</p>
<p class="bold">ambiente@cne-escutismo.pt</p>
<p>
(no assunto indicar “ProjTN – Proposta de Projeto Local de Intervenção”)</p>

<p>Depois de analisada a proposta, a equipa será contactada para dar início à preparação 

do projeto local de intervenção seguindo a metodologia de projeto e recebem a 

insígnia do projeto trilhos da natureza.</p>

<p>A adesão a este projeto permite desenvolver os seguintes objetivos Educativos Finais:<br/>

“Demonstrar empenho e vontade de agir, assumindo as suas responsabilidades em 

todos os projetos que enceta, estabelecendo prioridades e respeitando-as.” (F-C4)<br/>

“Os elementos da equipa terão de conseguir analisar os problemas de forma crítica, 

sugerindo e aplicando estratégias para a resolução dos mesmos.” (F-I5)<br/>

“Mostrar capacidade de relacionamento e trabalho de equipa, contribuindo ativamente 

para o sucesso coletivo através do desempenho com competência do seu papel.” (F-

S6)<br/>
</p>

<p class="bold">Definição de Trilho</p>

<p>Um trilho é um caminho onde normalmente os escuteiros caminham numa única fila. 

O corredor do trilho tem normalmente <span class="bold">40 a 60cm</span> de largura, embora possa alargar 

ou estreitar consoante o tipo de terreno.</p>

<p>Os trilhos desenvolvem-se contornando os obstáculos, tais como, árvores, grandes 

rochas e arbustos. Comparados com estradas ou aceiros, os trilhos enquadram-se 

naturalmente na paisagem, alteram muito menos o terreno e são mais fáceis de 

manter.</p>

<p>O piso do trilho é quase sempre terreno natural ao contrário da gravilha ou pavimento 

das estradas. O trilho pode estar integrado num percurso pedestre e sinalizado por 

meio de marcas.</p>

<p>Exemplos de Projetos Locais de Intervenção</p>

<p class="bold">1.Avaliar a Qualidade de Percursos Pedestre</p>

<p>É a forma mais simples de participação, onde apenas será necessário realizar um 

percursos pedestres e preencher o questionário de avaliação. Pode ser escolhido um 

ou mais percursos constantes na lista definida pela FCMP.</p>

<p class="bold">2.Divulgar o Pedestrianismo</p>

<p>Conhecer a modalidade, as ações e entidades locais. Colaborar na organização das 

suas iniciativas e participar em ações de conservação e manutenção de percursos 

pedestres.</p>

<p class="bold">3.Organizar Caminhadas nos Campos e Centros Escutistas</p>

<p>Identificar a rede de trilhos existente. Organizar uma equipa dinamizadora dos 

percursos pedestres. Propor o registo e homologação de um percurso pedestre.

<p class="bold">4.Apoiar a Peregrinação</p>

<p>Como escuteiros católicos, devemos procurar explorar o lado espiritual do 

pedestrianismo e apoiar o peregrino na demonstração da sua fé. Auxiliando na 

escolha de percursos e na realização de oficinas técnicas.</p>

<p class="bold">5.Monitorizar Caches</p>

<p>Localizar as caches locais e alertar para problemas ambientais causados pelo 

incumprimento das regras do “Geocaching”. Dar a conhecer percursos pedestres por 

meio desta atividade.</p>

<p class="bold">6.Outras</p>

<p>Vigilância de Florestas; Competição em Desporto Aventura; Simulação de Socorro e 

Resgate em Percursos Pedestres; Observação de Aves; Construção de EcoTrilho; etc.</p>
</div>

{% include "default/_elems/pictures.html" %}

{% endblock %}

