{% extends '../base.html' %}

{% block contents %}

{% include "../_elems/logo.html" %}

<div class="left contentText">
	<p>A Secretaria Nacional do Ambiente e Prevenção, através do Departamento Nacional de Ambiente (DNA) do Corpo Nacional de Escutas em parceria com a Federação de Campismo e Montanha de Portugal (FCMP) está a desenvolver um projecto que visa a utilização do Trilho como forma de conhecer e compreender a Natureza.</p>
	<p>Este Site destina-se a todos os escuteiros do CNE organizados em bando, patrulha, equipa ou tribo, que tenham espírito de aventura e que gostem de actividades ao ar livre. Este espaço é para aqueles que querem descobrir os mistérios da natureza e que sentem o prazer da partilha.</p>
	<p>Pretendemos com este Site, promover a partilha de experiências reais de vida em campo que permita um verdadeiro reforço do espírito de protecção da natureza. Ao participares neste Site estás a usar novas tecnologias que te ajudam a conhecer e divulgar o património natural em Portugal, a manter e recuperar trilhos rurais existentes.</p>
	<p>Aumentar a presença de escuteiros em espaço natural pode prevenir acções que prejudiquem gravemente a natureza. Esta acção permite também a possibilidade de utilizar este meio para angariar fundos com actividades sustentáveis que possam financiar medidas que melhoram o ambiente.</p>
	<p>&nbsp;</p>
	<p class="smallText">“Quando era novo, aprendi a amar os caminhos da floresta em todas as estações do ano, ignorando os terrenos molhados, a chuva e o nevoeiro enquanto pudesse continuar em frente até alcançar a minha meta. Eu sabia que no fim poderia vestir roupas secas, embrulhar-me num cobertor e sentar-me perto da fogueira com uma chávena de café entre as mãos”</p>
	<p class="smallText">Frank Opie, livro “Escuteiro Global”</p>
</div>

{% include "../_elems/pictures.html" %}

{% endblock %}

