{% extends '../base.html' %}

{% block contents %}

{% include "../_elems/logo.html" %}

<div class="left contentText">
<p class="style3">Caminhar na Natureza é muito importante para um escuteiro, mas para evitar o seu Impacto negativo deves ler com atenção as recomendações do DNA em “Boas Práticas Ambientais em Actividades de Exterior” (<a target="_blank" href="/docs/boas_praticas_ambientais_cne.pdf">pdf</a>).</p>
<p class="style3">Segue as normas de segurança em actividades de exterior, das quais destacamos:</p>
  <ul>
  	<li>Planeia bem a tua actividade;</li>
  	<li>Informa sempre alguém do local e hora prevista de chegada;</li>
  	<li>Consulta a previsão meteorológica antes de partires;</li>
  	<li>Certifica-te que tens o material e alimento adequados;</li>
  	<li>Bebe água moderadamente, evita a desidratação;</li>
  	<li>Faz pausas curtas e mantém o grupo unido;</li>
  	<li>Não subestimes a tua condição física;</li>  
  	<li>Caminha pelos Trilhos existentes;</li>
  	<li>Respeita a Fauna e Flora;</li>
  	<li>Acampa apenas nos locais autorizados e se fores forçado a bivacar, desmonta o abrigo assim que o sol nascer;</li>
  	<li>Ter atenção ao gado, embora tranquilo não gosta de aproximações;</li>
  	<li>Leva sempre o lixo contigo até ao local onde haja um serviço de recolha;</li>
  	<li>Fecha sempre as cancelas e portões que tiveres de abrir;</li>
  	<li>Leva comida que não precise de ser aquecida, evita as fogueiras;</li>
  </ul>
  
  <p class="bold">Actividades nas Áreas Protegidas</p>
  <p>Informa-te e respeita as normas específicas de cada Área Protegida. O CNE estabeleceu um protocolo com o Instituto da Conservação da Natureza e Biodiversidade (ICNB) que regula as nossas actividades nas Áreas Protegidas.
     Para utilização dos espaços autorizados pelo ICNB para acampar, acantonar ou realizar um percurso pedestre, deverá ser comunicado pela tua Junta Regional (JR) ou de Núcleo à JR ou Núcleo que é interlocutora dessa Área Protegida (<a target="_blank" href="http://ambiente.cne-escutismo.pt/ÁreasProtegidas/tabid/2609/language/pt-PT/Default.aspx">ver lista</a>).</p>  
  <p>Sempre que detectares alguma situação que seja prejudicial para o ambiente liga para a Linha SOS Ambiente (SEPNA/GNR) 808 200 520;<br />
  Respeita a comunidade local, os seus bens, a sua cultura e o seu património histórico.</p>
<p class="style3">Ao seguir estes conselhos, não só estarás a cumprir a tua promessa de escuta como também irás desfrutar melhor as tuas aventuras.</p>
</div>

{% include "../_elems/pictures.html" %}

{% endblock %}