{% extends '../base.html' %}

{% block contents %}

{% include "../_elems/logo.html" %}

<div class="left contentText">
<p class="bold">Introdução</p>
<p >O Trilho, seja qual for a secção, tem um significado especial para o escuteiro. O Lobito quando percorre um Trilho faz como o Capuchinho Vermelho fez para chegar à casa da Avó, o Explorador ao caminhar na Floresta tem a mesma sensação de Serpa Pinto ao atravessar África, um Pioneiro tal como João Garcia supera os seus limites e por fim o Caminheiro que em busca do Homem Novo encontra no Trilho um espaço único de reflexão.</p>
<p >O Trilho simboliza as etapas de crescimento de um escuteiro, as opções que toma e as consequências que delas advêm.<br />
</p>
<p class="bold">Definição</p>
<p >O Trilho desenvolve-se, regra geral, em caminhos tradicionais e antigos, que merecem ser preservados, por serem um meio privilegiado de contacto com a natureza e de interpretação do meio ambiente promovendo o desenvolvimento sustentável e a conservação da natureza.</p>
<p >É diferente de outros caminhos por ser tão pequeno em largura que apenas podemos passar em fila indiana.</p>
<p >Quais são as características de um bom Trilho?<br />
  Evita passar por Habitats sensíveis;<br />
  Minimiza os efeitos da Erosão;<br />
  Ausência de perigos;<br />
  É fácil perceber por onde passar;<br />
  Dá a conhecer os principais valores locais.</p>
<p >Como saber o grau de dificuldade?<br />
  É necessário avaliar a largura do corredor por onde passamos, o tipo de solo, a pendente máxima e média e quais são os obstáculos naturais. Outro aspecto a ter em conta pode ser a extensão total do percurso ou altura da vegetação.<br />
  Tendo em conta estes factores, podemos considerar um trilho, Fácil, Intermédio, Difícil ou Muito Difícil, vejamos um exemplo, um trilho que acompanha um vale e a meio da encosta, se o seu corredor permite a passagem de outro escuteiro em sentido contrário, se não atravessa um ribeiro, se a sua extensão for inferior a 7km e a altura da vegetação ficar pela nossa cintura, então estamos perante um trilho de grau Fácil.<br />
  É importante saber qual o grau do trilho para escolheres aquele que realmente é o mais adequado à capacidade técnica e física da tua patrulha.</p>
<p class="bold">Geral</p>
<p >O Site é para uso exclusivo dos associados do CNE, sendo no entanto permitida a consulta pública dos trilhos seleccionados pelo DNA.</p>
<p >Este Site, sendo destinado a escuteiros, está sujeito às leis e princípios do escuta, aceites na tua promessa. Como tal, a desobediência destas regras fundamentais terão consequências negativas para a associação e para o teu desenvolvimento pessoal.</p>
<p >Só serão aceites trilhos realizados sobre caminhos já existentes ou recuperados e registados por meio de GPS ou similar. Serão admitidos trilhos obtidos a partir do Google Earth desde que seja comprovada a sua realização (apresentação de web álbum). O sistema de coordenadas adoptado é o geográfico WGS84.</p>
<p >Qualquer Caminheiro pode pertencer à Equipa de Projecto Regional, promovida pelo Departamento de Ambiente Regional, tendo direito a usar uma insígnia.</p>
<p >O Site está dividido em quatro Áreas:</p>
<p >Utilizadores, Pesquisa Livre, Ranking e Equipa de Projecto.</p>
<p class="bold">Utilizadores</p>
<p >REGISTO DA  PATRULHA (Utilizador)</p>
<p >As patrulhas só poderão registar os seus trilhos depois de preencher os dados obrigatórios do formulário online de Registo de Patrulha.</p>
<p >Terá de ser constituída por 4 a 8 elementos. No caso dos Caminheiros, poderá ser composto por elementos de vários Agrupamentos (lembramos que esta é uma actividade de equipa e para tua segurança não deves fazer os trilhos sozinho)</p>
<p >Para manter o histórico de trilhos no início de cada ano escutista, as patrulhas terão de renovar o seu registo.</p>
<p class="bold">Registo de trilhos</p>
<p >Nesta área é possível administrar os trilhos de Patrulha.</p>
<p >Não existe limite para o número de trilhos por patrulha.</p>
<p >Os ficheiros a subir serão do tipo kml (Google Earth) em WGS84.</p>
<p >Não são aceites trilhos que atravessem zonas interditas.</p>
<p >Em Áreas Protegidas é necessário a validação do delegado Regional de Ambiente ou apresentação de credencial ICNB.</p>
<p >Só serão registados Trilhos que preencham os dados obrigatórios.</p>
<p >No caso de trilhos em áreas protegidas deve ser disponibilizado impresso a enviar à Junta Regional responsável.</p>
<p >Os trilhos em percursos pedestres homologados pela FCMP têm de estar acompanhados do relatório de vistoria do utilizador.</p>
<p >Serão sujeitos a avaliação directa do DNA, todos os trilhos que tenham início e fim nos Centros Escutistas de Drave, Idanha-a-Nova e CEADA na Arrábida.</p>
<p >Terá de ter um mínimo de 5km de extensão, não podendo exceder 30% em caminhos não considerados como trilho, no caso de ultrapassar esta percentagem, os trilhos devem ser registados em separado, respeitando sempre a extensão mínima.</p>
<p >A pendente máxima não deve ser superior a 15%, sendo 10% o valor médio aconselhado.</p>
<p >É importante definir o grau de dificuldade, em caso de dúvida consulta o teu Chefe.</p>
<p >Não são permitidos trilhos que coloquem a integridade física em risco, no caso dos trilhos classificados como muito difícil, só serão registados o local e os meios disponíveis para garantir a segurança da sua realização</p>
<p >Também não serão aceites trilhos que não respeitem a lei e princípios CNE.</p>
<p >Se for verificada alguma das situações mencionada anteriormente nos trilhos já registados, estes serão retirados do Site.</p>
<p >Todos os Trilhos estão sujeitos a uma inspecção aleatória da equipa DNA ou delegado Regional de Ambiente nomeado.<br />
</p>
<p class="bold">Pesquisa livre</p>
<p >Encontra nesta área os trilhos existentes na tua zona ou perto do local da tua actividade. Aqui podes pesquisar trilhos que pelas suas características são os mais adequados ao teu desenvolvimento escutista.<br />
</p>
<p class="bold">Ranking</p>
<p >A Área de Ranking encontra-se organizada em três categorias:</p>
<p >Partilha<br />
  Categoria dedicado à divulgação de iniciativas de defesa do ambiente ou de âmbito social;</p>
<p >Desafio<br />
  Categoria privilegiada para aqueles que querem ultrapassar os seus limites e conhecimentos ambientais;</p>
<p >Internacional<br />
  Categoria para partilha de trilhos de referência noutros países.</p>
<p >A classificação por meio de Ranking, serve para fazer sobressair os melhores trilhos de Portugal, visto que o principal objectivo do Site é motivar os escuteiros a viver a natureza e a partilhar as suas experiências.</p>
<p >Aos elementos que anualmente conquistarem os três primeiros lugares no ranking nacional será entregue uma Insígnia Trilhos da Natureza, aos restantes um Diploma de Participação no Projecto<br />
</p>
<p class="bold">Critérios de definição da posição no ranking das categorias Partilha (P) e Desafio (D).</p>
<p >(C) – é necessário enviar comprovativo ao DNA.</p>
<p >Sobe no Ranking se:</p>
<p >(P)(C)O trilho for feito em parceria com uma ou mais entidades externas ao CNE e segundo o tipo de parceiro e da secção (exemplos de parceiros: ambientais - Quercus; autarquia - junta de freguesia; autoridade local - SEPNA da GNR).</p>
<p >(P)(D)Obtiver boa classificação de outra patrulha que tenha realizado o trilho.</p>
<p >(P)O início ou fim do trilho for em qualquer Centro Escutista.</p>
<p >(D)Percorrer distâncias entre 15 a20km com desnível acumulado superior a 250m.</p>
<p >(P)(D)A informação sobre o trilho for a mais completa e correcta possível (nome das espécies vegetais e animais, tipo de solo, património histórico e cultural).</p>
<p >(D)Houver a realização de trabalhos de manutenção periódicos.</p>
<p >(P)(C)For realizado um projecto local de intervenção ambiental ou integrado num projecto DNA.</p>
<p >(D)A pendente média for a mais aproximada à média recomendada.</p>
<p >(P)(C)for integrado numa acção de vigilância florestal ou estiver previsto como acesso ao combate de incêndios florestais.</p>
<p >(P)(D)for respeitada a capacidade de carga aconselhada:<br />
  Trilhos ranking Desafio – Patrulhas com menos de 8 elementos<br />
  Trilhos ranking Partilha – Grupos inferiores a 15 elementos</p>
<p >Desce no Ranking se:</p>
<p >(P)(D)(C)Tiver classificação negativa de outra patrulha, quando devidamente fundamentada ou verificada pelo delegado Regional de Ambiente.</p>
<p >(P)(D)(C)A escolha do percurso acelera os processos de erosão ou quando não foram tomadas as devidas precauções que previnam este agravamento.</p>
<p >(P)(D)(C)For realizado fora da época permitida nas Áreas Protegidas e outras consideradas sensíveis.</p>
<p >(P)(D)(C)For verificado que existem situações que ponham em causa a integridade física ou não respeite a lei e princípios do CNE, tais como, recurso a escalada ou destruição de património resultante da criação do trilho. Em casos considerados graves, o DNA poderá iniciar um processo disciplinar tal como definido nos regulamentos do CNE.<br />
</p>
<p class="bold">Equipas de projecto Trilhos da Natureza</p>
<p >Esta área destina-se aos Caminheiros e será o local privilegiado para a divulgação de trabalhos de conservação e manutenção de trilhos.</p>
<p class="bold">Diversos</p>
<p >A divulgação de actividades a realizar nos teus trilhos, deve ser enviada ao DNA com um mínimo de 30 dias antes da data prevista.</p>
<p >Nos casos omissos deve ser aplicado o regulamento geral do CNE.</p>
</div>

{% include "../_elems/pictures.html" %}

{% endblock %}