{% extends '../base.html' %}

{% block contents %}

{% include "../_elems/logo.html" %}

<div class="left contentText">
<p><strong>Parceiros Projecto Trilhos da Natureza</strong><br/>
<a href="http://www.fcmportugal.com/PresentationLayer/homepage.aspx">Federação Campismo Montanhismo de Portugal</a>
</p>
<p><strong>Trilhos seleccionados</strong><p>
<ul>
	<li><a target="_blank" href="/docs/trails/FL_02_2011_SintraPenedo.pdf">Sintra - Penedo</a></li>
	<li><a target="_blank" href="/docs/trails/FL_03_2011_LinhadeTorres.pdf">Bonabal - Foz do Sizandro</a></li>
	<li><a target="_blank" href="/docs/trails/FL_04e05_2011_almograveCavaleiro.pdf">Almograve - Cavaleiro</a></li>
	<li><a target="_blank" href="/docs/trails/FL_06_2011_PenhagarciaMonsanto.pdf">Penha Garcia - Monsanto</a></li>
	<li><a target="_blank" href="/docs/trails/FL_07_2011_SaoMamede.pdf">Serra de São Mamede</a></li>
	<li><a target="_blank" href="/docs/trails/FL_08e09_2011_montesinho.pdf">Montesinho</a></li>
	<li><a target="_blank" href="/docs/trails/FL_10_2011_almeida.pdf">Almeida</a></li>
	<li><a target="_blank" href="/docs/trails/FL_11_2011_SerraEstrela.pdf">Serra da Estrela</a></li>
	<li><a target="_blank" href="/docs/trails/FL_12_2011_BocadoRio.pdf">Boca do Rio</a></li>
</ul>

<p ><strong>Cartografia</strong><br />
  <a href="http://www.igeoe.pt/" target="_blank">IGeoE</a><br />
  <a href="http://www.igeo.pt/" target="_blank">Inst. Geográfico Português</a><br />
  <a href="http://www.fpo.pt/www/index.php" target="_blank">Federação Portuguesa de Orientação</a></p>
<p ><strong>Institucional</strong><br />
  <a href="http://portal.icnb.pt/ICNPortal/vPT2007/" target="_blank">ICNB</a><br />
  <a href="http://www.afn.min-agricultura.pt/portal" target="_blank">Autoridade Florestal Nacional</a><br />
  <a href="http://www.gnr.pt/portal/internet/contactos/detalhe.asp?codUnidade=12600000" target="_blank">SEPNA</a></p>
<p ><strong>Divulgação/Blogs/Portais</strong><br />
  <a href="http://itinerante.pt/home/" target="_blank">Revista Itinerante</a><br />
  <a href="http://www.sportlife.com.pt/index.php" target="_blank">Sport Life</a><br />
  <a href="http://fugas.publico.pt/" target="_blank">Público - Fugas</a><br />
  <a href="http://pedestrianismo.blogspot.com/2008/02/carta-de-desporto-de-natureza-doparque.html" target="_blank">Pedestrianismo e Percursos Pedestres</a><br />
  <a href="http://solagasta.com/tag/trilhos-pedestres/" target="_blank">Sola Gasta</a><br />
  <a href="http://www.gpsies.com/home.do#6_39.5_-8_p" target="_blank">GPSies</a><br />
  <a href="http://www.trails-azores.com/" target="_blank">Trails Azores</a><br />
  <a href="http://www.turismomadeira.pt/?section=menu&amp;extravars=/eccbc87e4b5ce2fe28308fd9f2a7baf3/a5bfc9e07964f8dddeb95fc584cd965d" target="_blank">Turismo da Madeira - percursos pedestres</a><br />
  <a href="http://www.sports-tracker.com/" target="_blank">Sports Tracker</a><br />
  <a href="http://pt.wikiloc.com/trilhas/outdoor/portugal" target="_blank">Wikiloc</a><br />
  <a href="http://www.everytrail.com/world_map.php" target="_blank">EveryTrail</a></p>
<p ><strong>Associações Pedestrianismo/Trail</strong><br />
  <a href="http://www.amigosdosacores.pt/" target="_blank">Amigos dos Açores</a><br />
  <a href="http://www.federacao-triatlo.pt/" target="_blank">Federação de Triatlo de Portugal</a><br />
  <a href="http://clubearlivre.org/" target="_blank">Clube de Actividade de Ar Livre</a><br />
  <a href="http://cimo.pt/" target="_blank">Clube Ibérico de Montanhismo e Orientação</a><br />
  <a href="http://www.omundodacorrida.com/" target="_blank">O Mundo da Corrida</a></p>
<p ><strong>Trilhos Partilhados</strong><br />
  <a href="http://www.fpcub.pt/pt/index.php" target="_blank">Federação Portuguesa de Cicloturismo</a><br />
  <a href="http://www.fep.pt/Principal/tabid/40/Default.aspx" target="_blank">Federação Equestre Portuguesa</a><br />
  <a href="http://www.pcd.pt/" target="_blank">Portal do Cidadão com Deficiência</a></p>
<p ><strong>Ecologia/Turismo de Aventura</strong><br />
  <a href="http://www.isla.pt/isla/Investigacao/LETSISLA/LETSISLA/LETSISLA.htm" target="_blank">LETS ISLA - Laboratório de Ecologia, Turismo e Sustentabilidade</a><br />
  <a href="http://www.isa.utl.pt/ceabn/content/1/1/homepage" target="_blank">Centro de Ecologia Aplicada “Prof. Baeta Neves”, Inst. Sup. de Agronomia, Univ. Técn. Lisboa</a></p>
<p ><strong>Geocaching</strong><br />
  <a href="http://www.geocaching.com/" target="_blank">Site oficia</a>l <br />
  <a href="http://geocaching-pt.net/" target="_blank">Site Português</a></p>
<p ><strong>Autarquias</strong><br />
  <a href="http://www.cm-pontedelima.pt/ver.php?cod=0J0E" target="_blank">Ponte de Lima</a><br />
  <a href="http://www.ecomuseu.org/Portugues/index2.php" target="_blank">Montalegre</a><br />
  <a href="http://www.cm-viseu.pt/portal/page?_pageid=402,18072839,402_1374171&amp;_dad=portal&amp;_schema=PORTAL" target="_blank">Viseu</a></p>
<p ><strong>Patrocínios</strong><br />
  <a href="http://7mnp.7maravilhas.sapo.pt/#/pt/home" target="_blank">7 Maravilhas Naturais de Portugal</a><br />
  <a href="http://www.decathlon.pt/PT/" target="_blank">Decathlon</a><br />
  <a href="http://www.sportzone.pt/" target="_blank">Sport Zone</a><br />
  <a href="http://www.hellyhansen.com/" target="_blank">Helly Hansen</a><br />
  <a href="http://www.specialized.com/" target="_blank">Specialized</a><br />
  <a href="http://www.silva.se/en/" target="_blank">Silva</a><br />
  <a href="http://www.nokia.pt/" target="_blank">Nokia</a> ou operadoras (TMN, Vodafone, Optimus)<br />
  <a href="http://www.garmin.pt/" target="_blank">Garmin</a><br />
  <a href="http://www.bivaque.com/index.htm" target="_blank">Bivaque</a><br />
  <a href="http://www.suunto.com/" target="_blank">Suunto</a></p>
<p ><strong>Internacional</strong><br />
  <a href="http://www.imba.com/" target="_blank">International Mountain Bicycling Association</a><br />
  <a href="http://www.fs.fed.us/" target="_blank">US Forest Service</a><br />
  <a href="http://www.trailbuilders.org/" target="_blank">Professional Trailbuilders Association</a><br />
  <a href="http://www.fedme.es/?action=seccion.seccion&amp;subseccion=145" target="_blank">Federación Española de Deportes de Montaña y Escalada - Senderismo</a><br />
  <a href="http://www.ffrandonnee.fr/" target="_blank">Fédération Francaise de Randonée</a><br />
  <a href="http://www.fieitalia.com/fie/?page_id=923" target="_blank">Federazione Italiana Escursionismo</a><br />
  <a href="http://www.era-ewv-ferp.com/index.php?page_id=6" target="_blank">European Ramblers’ Association</a></p>
<p>
  <strong>Documentos diversos</strong>
  <br/>
  <ul>
  <li><a target="_blank" href="/docs/cim2011-resumos.pdf">Resumos das comunicações e dos posters - IV Congresso Internacional de Montanha</a></li>
  </ul>
</p>
</div>

{% include "../_elems/pictures.html" %}

{% endblock %}