<!-- Dialog that is shown when the user wishes to create a new trail -->
<div id="updateTrailDialog" title="Edit location">
	<form action="{{ uploadUrl }}" method="POST" id="updateTrailForm" enctype="multipart/form-data">
			<div id="mandatoryInfo">
				<table>
					<tbody>
						<tr>
							<td><label for="title">Trilho</label></td>
							<td><input type="text" name="title" id="title" value="{{ trail.title }}"/></td>
						</tr>
						<tr>
							<td><label for="nearestCity">Localidade</label></td>
							<td><input type="text" name="nearestCity" id="nearestCity" value="{{ trail.nearestCity }}"/>
							</td>
						</tr>
						<tr>
							<td><label for="militaryMap">Carta militar</label>
							</td>
							<td><input type="text" name="militaryMap"
								id="militaryMap" value="{{ trail.militaryMap }}" /></td>
						</tr>
						<tr>
							<td><label for="nearestCity">Duração prevista (horas)</label></td>
							<td><input type="text" name="timeDurationHours" id="timeDurationHours" />
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<input type="checkbox" name="changeFile" id="changeFile"/>
								<label for="changeFile">Actualizar KML:</label>
								<script type="text/javascript">
									$("#changeFile").change(function(){
										if($(this).is(":checked")){
											$("#fileUploadRow").show('slow');
										}else{
											$("#fileUploadRow").hide('slow');
										}
									}).trigger('change');
								</script>
							</td>
						</tr>
						<tr id="fileUploadRow">
							<td><label for="file">KML File:</label></td>
							<td><input type="file" name="file" id="file" /></td>
						</tr>
					</tbody>
				</table>
			</div>
	</form>
</div>

<script type="text/javascript">
	$(function() {

		$("#updateTrailForm").ajaxForm({
			beforeSubmit: function(){
				$.jnotify("Processing update, standby...", true);
			},
			success: function(){ window.location.reload(true); },
			type: "PUT"
		}); 

		$("#updateTrailDialog").dialog({
			autoOpen : false,
			modal : true,
			width : 600,
			buttons : {
				"Submit" : function() {
					$("#updateTrailForm").submit();
					$(this).dialog('close');
				},
				"Close" : function() {
					$(this).dialog('close');
				}
			}
		});

		$("#addLinkBtn")
				.button()
				.click(
						function() {
							$("#linksHolder")
									.append(
											"<p><input type='text' name='link' value='http:\/\/' /></p>");
						});

		$("#removeLinkBtn").button().click(function() {
			$("#linksHolder").find("p:last").remove();
		});
	});
</script>