<!-- Dialog that is shown when the user wishes to create a new trail -->
<div id="newTrailDialog" title="New location">
	<form action="{{ uploadUrl }}" method="POST" id="newTrailForm" enctype="multipart/form-data">
			<div id="mandatoryInfo">
				<table>
					<tbody>
						<tr>
							<td><label for="title">Trilho</label></td>
							<td><input type="text" name="title" id="title" /></td>
						</tr>
						<tr>
							<td><label for="nearestCity">Localidade</label></td>
							<td><input type="text" name="nearestCity" id="nearestCity" />
							</td>
						</tr>
						<tr>
							<td><label for="militaryMap">Carta militar</label>
							</td>
							<td><input type="text" name="militaryMap"
								id="militaryMap" /></td>
						</tr>
						<tr>
							<td><label for="nearestCity">Duração prevista (horas)</label></td>
							<td><input type="text" name="timeDurationHours" id="timeDurationHours" />
							</td>
						</tr>
						<tr>
							<td><label for="file">KML File:</label></td>
							<td><input type="file" name="file" id="file" /></td>
						</tr>
					</tbody>
				</table>
			</div>
	</form>
</div>

<script type="text/javascript">
	$(function() {
	
		$("#newTrailForm").ajaxForm({
			beforeSubmit: function(){
				$.jnotify("Creating trail, standby...", true);
			},
			success: function(){ window.location.reload(true); },
			type: "PUT"
		}); 	
	
		$("#newTrailDialog").dialog({
			autoOpen : false,
			modal : true,
			width : 600,
			buttons : {
				"Submit" : function() {
					$("#newTrailForm").submit();
					$(this).dialog('close');
				},
				"Close" : function() {
					$(this).dialog('close');
				}
			}
		});
	
		$("#trailFormTabs").tabs();
	});
</script>