<!-- Template for the search component -->
<script type="text/javascript">
	$(function() {
		$("#submit").button();
		$("#showAdvanced").toggle(function() {
			$("#advanced").show("fast");
			$(this).text("Hide advanced options");
		}, function() {
			$("#advanced").hide("fast");
			$(this).text("Show advanced options");
		});
		$("#mainSearch").focus(function(){
			$(this).val("");	
		});
		$("#advanced").hide("fast");
		$('#searchForm').ajaxForm({
			beforeSubmit: function(){
				$.jnotify('We are working on this at full steam :)', 10000);	
			}
		});
	});
</script>
<div>
	<form action="#" method="get" id="searchForm">
		<div>
			<p><label for="mainSearch" class="itemLabel">Pesquisa básica:</label> <input type="text" name="q"
				id="mainSearch" value="Search trails..."/></p>
			<p style="text-align: right; font-size: 10px; color: #ccc;">
				<a id="showAdvanced" href="#" style="">Opções avançadas</a>
			</p>
		</div>
		
		<div id="advanced">
			<table id="advancedSearchTable">
				<tbody>
					<tr>
						<td style="width: 35%;"><label for="city">Localidade:</label></td>
						<td><input type="text" name="city" id="city" value="" />
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div style="margin-top: 20px; text-align: right;">
			<button type="submit" name="submit" id="submit">
				<span>Pesquisar</span>
			</button>
		</div>
	</form>
</div>