<!-- DIV that holds the trail's details -->
<div>
	<fieldset>
		<legend>Trail information</legend>
		<p>
			<span class="itemLabel">Trail:</span><span id="details_trailName"></span>
		</p>
		<p>
			<span class="itemLabel">Credential:</span><span
				id="details_credentialNum"></span>
		</p>
		<p>
			<span class="itemLabel">Condition:</span><span id="details_condition"></span>
		</p>
		<p>
			<span class="itemLabel">Distance (Km):</span><span
				id="details_distance"></span>
		</p>
		<p>
			<span class="itemLabel">Slope (m):</span><span id="details_slope"></span>
		</p>
		<p>
			<span class="itemLabel">Difficulty:</span><span
				id="details_difficulty"></span>
		</p>
		<p>
			<span class="itemLabel">Region:</span><span id="details_region"></span>
		</p>
		<p>
			<span class="itemLabel">Nearest city:</span><span
				id="details_nearestCity"></span>
		</p>
	</fieldset>
	<fieldset>
		<legend>Additional information</legend>
		<table>
			<tr>
				<td>Recommendations</td>
				<td>
					<div id="details_recomendations"></div></td>
			</tr>
			<tr>
				<td>Directions</td>
				<td>
					<div id="details_directions"></div></td>
			</tr>
			<tr>
				<td>Recommended Season</td>
				<td>
					<div id="details_recommendedSeason"></div></td>
			</tr>
			<tr>
				<td>Links</td>
				<td>
					<div id="details_links"></div></td>
			</tr>						
		</table>
	</fieldset>
</div>
