<!-- Template for the trail table entries -->
{% if trails %}
<table class="baseTable">
	<thead>
		<tr>
			<th>Title</th>
			<th>Region</th>
			<th>Nearest city</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for entry in trails %}
		<tr class={% cycle odd,even %}>
			<td>{{ entry.title }}</td>
			<td>{{ entry.region }}</td>
			<td>{{ entry.nearestCity }}</td>
			<td>
				<a id="viewBtn_{{ entry.key }}" href="/trail/{{ entry.key }}">View</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% else %}
<p>There are no trails in the application.</p>
{% endif %}
