<!-- Template for the trail table entries -->
{% if trails %}
<table class="baseTable">
	<thead>
		<tr>
			<th>Localidade</th>
			<th>Extensão</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for entry in trails %}
		<tr class="{{ loop.cycle('odd', 'even') }}">
			<td>{{ entry.nearestCity }}</td>
			<td>{{ entry.extension }}</td>
			<td>
				<a id="viewBtn_{{ entry.key.id() }}" href="/trail/{{ entry.key.id() }}">View</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% else %}
<p>Não há trilhos na aplicação..</p>
{% endif %}
